body {
  font-family: $font-family-serif;
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color $transition-speed ease-in-out, color $transition-speed ease-in-out;
  margin: 0;
  padding: 0;
  line-height: 1.7;
  font-size: 16px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main {
  display: block; 
  min-height: 80vh;
  padding: $spacing-xl $spacing-lg;
  overflow-x: hidden;
  flex: 1 0 0%;
}

a {
  color: var(--link-color);
  text-decoration: none;
  transition: color $transition-speed ease;

  &:hover {
    color: var(--link-hover-color);
    text-decoration: none;
  }
}

