// Custom Form Styles
.form {
  &-control {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 1px solid var(--border-color);
    border-radius: 0;
    padding: $spacing-sm $spacing-md;
    transition: all $transition-speed ease;

    &:focus {
      border-color: var(--accent-color);
      box-shadow: 0 0 0 0.25rem rgba(var(--accent-color-rgb), 0.25); // Need to get RGB for this
      outline: none;
    }
  }
  &-label {
    color: var(--text-color);
    font-family: $font-family-serif;
    font-weight: 500;
    margin-bottom: $spacing-sm / 2;
  }
}
