@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&family=Noto+Serif:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap');

@import 'variables';
@import 'base';
@import 'header';
@import 'footer';
@import 'buttons';
@import 'forms';
@import 'cards';
@import 'cart';
@import 'product';
@import 'components';
@import 'admin';